<%= form_with(model: revenue, local: true) do |form| %>
  <% if revenue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revenue.errors.count, "error") %> prohibited this revenue from being saved:</h2>

      <ul>
      <% revenue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :revenue_name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :revenue_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
